{% extends 'index.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2 style="font-size:48px" >
                  About Our Company
                </h2>
                <br>
              </div>
              <p style="font-size:28px" >
                Itadakimasu is a platform that gives you acccess to all the food recipes available in the world and provides you with detailed instructions on how to prepare them  </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/logo2.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
