{% extends 'index.html' %}
{% block title %}Wines{% endblock %}
{% block content %}

<style type="text/css">
    .card:hover {
        border-color: #ffec99;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);

    }
</style>


<div class="row row-cols-1 row-cols-md-2 g-4">

    {% for i in data.recommendedWines %}
    
<div class="container">  
  <a href="{{i.link}}"> <div class="col"> 
    <div style="border:1px solid black;" class="card">
      <img style="height:25%; width:25%; max-width: 50px;" src="{{i.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5> </a>
        <p class="card-text">{{i.description}}</p>
        <p class="card-text">valued at {{ i.price}}</p>
       
    </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>


{% endblock %} 