{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}Itadakimasu{% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="row" style="margin-bottom: 20%">
        <div class="col-md-12">
          <form accept-charset="UTF-8" method="get">
            <div class="input-group">
              <input
                style="height: 50px; width: 80%"
                type="text"
                name="title"
                id="search"
                placeholder="Search for recipes..eg pasta, rice"
                class="form-control"
              />
              <span style="height: 50px; width: 20%" class="input-group-btn">
                <input
                  style="height: 100%"
                  type="submit"
                  value="Search"
                  class="btn btn-primary"
                  data-disable-with="Search"
                />
              </span>
            </div>
          </form>
        </div>
      </div>

      {% for i in response.results %}
      <div class="card mb-3" style="">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{i.image}}" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="{% url 'food_ingredients' i.id %}"
                ><h1 class="card-title"><b>{{ i.title }}</b></h1></a
              >
              <p style="font-size: 15px" class="card-text">
                {{i.summary|striptags}}
              </p>
              <p class="card-text">
                <a
                  style="font-size: 12px"
                  href="{% url 'food_equipments' i.id %}"
                  >Equipments needed</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in data.videos %}
        <div class="col">
          <div class="card">
            <iframe
              width="auto"
              height="auto"
              src="https://www.youtube.com/embed/{{i.youTubeId}}?controls=1"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
