
{% extends 'index.html' %}
{% block title %}Steps{% endblock %}
{% block content %}


<section class="chocolate_section ">
      <div class="container">
        <div style="font-size: 18px;" class="heading_container">
          <h2 style="font-size: 50px;" >
           Equipments Needed For the Dish
          </h2>
          <br>
        </div>
      </div>
      <div class="container">
        <div class="chocolate_container">
           {% for i in response.equipment %}
          <div class="box">
            <div class="img-box">
              <img src="https://spoonacular.com/cdn/equipment_250x250/{{i.image}}">
            </div>
            <div class="detail-box">
              <h4>
                {{i.name|capfirst}}
              </h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
</section>


    {% endblock %}